@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* ----================HEADER-===============---- */
  .header-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
  }
  .header-link-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-link-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .logo-size {
    padding-bottom: 28px;
  }
  /* ========= HERO========== */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    min-width: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/imgpage1/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/imgpage1/people-office-desktop-2x.jpg);
    }
  }

  .hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--wight-color);
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
  }

  /* ==========Section 3 What are we doing============= */
  .section-doing {
    display: block;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  /* ======Section 2 Our advantages====*/
  .icon-setion-item {
    display: block;
  }
  .section-advantages {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .advanteg-text {
    max-width: 264px;
  }

  .section-list {
    display: flex;
    gap: 24px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .section-item {
    flex-basis: calc ((100%-72px) / 4);
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .icon-setion-item {
    background-repeat: no-repeat;
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid transparent;
    border-radius: 4px;
    background-size: cover;
    padding: 24px 100px;
  }

  /* =====================Our TEAM============== */

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    flex-basis: calc ((100%-72px) / 4);
  }

  /* =================Customers ===============*/

  .sectiom-customer {
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
  }
  .customer-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .customer-item {
    max-width: 168px;
    flex-basis: calc ((100%-95px) / 6);
  }
  .customer-item {
    min-width: 168px;
  }

  /* =============FOOTER ==============*/
  .footer {
    background: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo {
    color: #f4f4fd;
  }
  .footer-article {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
  }
  .footer-article {
    max-width: 264px;
    margin-top: 18px;
  }

  .footer-cocontainer {
    display: flex;
  }
  .footer-wrap-logo {
    margin-right: 120px;
  }
  /* ==================FOOTER SOC=================== */

  .footer-wrap-soc {
    margin-right: 80px;
  }
  /* .footer-soc-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 16px;
    }
    
    .footer-soc-list {
      display: flex;
      gap: 16px;
    }
    .footer-soc-link {
      display: inline-flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: background-color var(--trans);
    }
    
    .footer-soc-link:hover,
    .footer-soc-link:focus {
      background-color: #31d0aa;
    } */

  /* ===========================FOOTER INPUT================== */
  .footer-subscribe-wrap {
    /* display: flex; */
    min-width: 452px;
    height: 80px;
  }
  .footer-link-btn-wrap {
    display: flex;
    gap: 24px;
  }
  .footer-input-email {
    min-width: 264px;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--wight-color);
    background-color: #2e2f42;
    transition: border-color var(--trans);
  }
  .footer-input-email:focus {
    outline: transparent;
    border-color: #4d5ae5;
  }
  .footer-input-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff99;
  }

  .footer-btn-submit {
    position: relative;
    min-width: 162px;
    height: 40px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--wight-color);
    background: #4d5ae5;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color var(--trans);
  }
  .footer-btn-submit:hover,
  .footer-btn-submit:focus {
    background-color: var(--active-btn-bcg-color);
  }
  .footer-btn-text {
    margin-right: 16px;
  }
}
