:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --wight-color: #ffffff;
  --hover-color: #404bbf;
  --accent-text-color: #4d5ae5;
  --active-btn-bcg-color: #404bbf;
  --after-nav-bcg-color: #404bbf;
  --normal-btn-bcg-color: #4d5ae5;
  --portfolio-btn-bcg-color: #f4f4fd;
  --portfolio-top-text-color: #f4f4fd;
  --portfolio-top-bcg-color: #4d5ae5;
  --section-bcg-color: #2e2f42;
  --img-column-gap: 24px;
  --img-row-gap: 48px;
  --card-border: 1px solid #e7e9fc;
  --icon-advantages-bcg-color: #f4f4fd;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--wight-color);
}
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* =============COMPONENTS ============*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ----================HEADER-===============---- */

.header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
}
.header-list {
  display: none;
}
.header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}

.logo {
  color: var(--accent-text-color);
}
.nav-logo {
  color: var(--main-color);
}
.logo-size {
  align-items: center;
  display: flex;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* ==============MOBILE MENU============= */
.mobile-menu-opem-icon {
  stroke: black;
}
.mobile-memu-open {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
}
.container-mob-menu {
  padding-left: 40px;
  padding-right: 40px;
}
.mobil-menu-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.mobile-menu-header {
  position: fixed;
  /* display: flex; */
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: var(--wight-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 80px;
  padding-bottom: 40px;
}

.modal-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 284px;
}
.modal-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.modal-menu-link {
}

.modal-menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.modal-menu-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.modal-menu-tel:not(:last-child) {
  margin-bottom: 40px;
}

.mob-soc-list {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color var(--trans);
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-soc-item:hover,
.mob-soc-item:focus {
  background-color: var(--hover-color);
}

.modal-menu-link:hover,
.modal-menu-link:focus {
  color: var(--hover-color);
}
.mob-soc-email:hover,
.mob-soc-email:focus {
  color: var(--hover-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--accent-text-color);
}
.mob-soc-tel:hover,
.mob-soc-tel:focus {
  color: var(--hover-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--accent-text-color);
}
/* ========= HERO========== */
.hero {
  background: var(--section-bcg-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/imgpage1/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/imgpage1/people-office-mobile-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--wight-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
  max-width: 318px;
}
.hero-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--wight-color);
  background: var(--normal-btn-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  transition: background-color var(--trans);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn-bcg-color);
}

/* ======Section 2 Our advantages====*/
.icon-setion-item {
  display: none;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section-advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advanteg-text {
  max-width: 396px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 8px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ==========Section 3 What are we doing============= */
.section-doing {
  display: none;
}

/* =====================OUR TEAM================== */
.section-team {
  padding-top: 96px;
  padding-bottom: 128px;
  background: var(--portfolio-btn-bcg-color);
}
.text-block {
  padding: 32px 16px;
  text-align: center;
  background: #ffffff;
}
.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc ((100%-72px)/4);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
  justify-content: center;
}
.text-block-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.text-block-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color var(--trans);
}
.text-block-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-block-item:hover,
.text-block-item:focus {
  background-color: var(--hover-color);
}

.text-block > .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.text-block > .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}
/* ================================ */

/* ==============CUSTOMERS========= */

.sectiom-customer {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  justify-content: center;
}
.customer-item {
  display: flex;
  max-width: 190px;
  height: 88px;
  border-radius: 4px;
  flex-basis: calc ((100%-24px) / 2);
}
.customer-link {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color var(--trans), color var(--trans);
}
.customer-icon {
  fill: currentColor;
  transition: fill var(--trans);
}
.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
/* ======================= */

/* =============FOOTER ==============*/

.footer-cocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.footer {
  background: var(--main-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-article {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-article {
  max-width: 264px;
  margin-top: 18px;
}

.footer-cocontainer {
  display: flex;
}
.footer-wrap-logo {
  margin-right: 120px;
}
/* =====================FOOTER SOC============================= */
.footer-wrap-soc {
  min-width: 208px;
  height: 80px;
  margin-right: 80px;
}
.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background-color var(--trans);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* ===========================FOOTER INPUT================== */
.footer-subscribe-wrap {
  min-width: 452px;
  height: 80px;
}
.footer-link-btn-wrap {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 16px;
}
.footer-input-email {
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--wight-color);
  background-color: #2e2f42;
  transition: border-color var(--trans);
}
.footer-input-email:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.footer-input-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff99;
}

.footer-btn-submit {
  position: relative;
  max-width: 162px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--wight-color);
  background: #4d5ae5;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color var(--trans);
}
.footer-btn-submit:hover,
.footer-btn-submit:focus {
  background-color: var(--active-btn-bcg-color);
}
.footer-btn-text {
  margin-right: 16px;
}

/* ========================MODAL WINDOW==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity var(--trans), visibility var(--trans);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 24px;

  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans), fill var(--trans),
    border-color var(--trans);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-btn-bcg-color);
  fill: #f4f4fd;
  border-color: transform;
}

/* ===================MODALFORM ========================*/
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-subtitele {
  margin-bottom: 16px;
}
.modal-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.user-name-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-top: 0;
  transition: border-color var(--trans);
}
.user-name-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form-message ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #75757580;
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-wrap {
  position: relative;
  display: block;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-65%);
  display: block;
  transition: fill var(--trans);
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

/* ================ Modal check fild======= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-check-wrap {
  position: relative;
}
.modal-check-policy {
  position: absolute;
}
.modal-policy-link {
  color: var(--accent-text-color);
  margin-left: 4px;
}
.modal-policy-link:hover,
.modal-policy-link:focus {
  color: var(--hover-color);
}
.modal-form-check::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-check {
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.user-name-input:focus + .modal-input-icon {
  fill: var(--active-btn-bcg-color);
}
.modal-check-policy:checked + .modal-form-check::before {
  background-color: var(--active-btn-bcg-color);
  border: none;
  background-image: url(../img/iconsvg/click.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check-policy:hover + .modal-form-check::before {
  border-color: var(--hover-color);
}
.modal-btn-submit {
  font-family: inherit;
  font-style: inherit;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 159px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--wight-color);
  background: var(--normal-btn-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  margin-top: 24px;
  transition: background-color var(--trans);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--active-btn-bcg-color);
}

/* ======================MEDIA=============== */
@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .section-doing {
    display: none;
  }
}
