@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }

  /* ----================HEADER-===============---- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/imgpage1/people-office-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/imgpage1/people-office-tablet-2x.jpg);
    }
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    margin-left: auto;
    color: var(--main-color);
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .header {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
  }

  .logo {
    color: var(--accent-text-color);
  }
  .nav-logo {
    color: var(--main-color);
  }

  .nav-link {
    position: relative;
    transition: color var(--trans);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--after-nav-bcg-color);
    left: 0;
    bottom: -28px;
    border-radius: 2px;
  }
  .header-link-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
    transition: color var(--trans);
  }

  .header-link-tel {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
    transition: color var(--trans);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  .header-link-email:hover,
  .header-link-email:focus {
    color: var(--hover-color);
  }
  .header-link-tel:hover,
  .header-link-tel:focus {
    color: var(--hover-color);
  }
/* ==============MOBILE MENU============= */
  .mobile-memu-open {
    display: none;
  }
  .mobile-menu-header{
    display: none;
  }

  /* ======Section 2 Our advantages====*/
  .section-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advanteg-text {
    max-width: 356px;
  }

  .section-item {
    flex-basis: calc ((100%-24px) / 2);
  }
  .title {
    text-align: left;
  }

  /* ==========Section 4 Our Team======= */
  .section-team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .team-item {
    flex-basis: calc ((100%-24px) / 2);
  }

  /*=========Section customer==========*/
  .customer-list {
    display: flex;
    flex-wrap: flex;
    gap: 24px;
  }
  .customer-item {
    max-width: 168px;
    flex-basis: calc ((100%-48px) / 3);
  }

  /* =============FOOTER ==============*/
   .footer {
    background: var(--main-color);
    padding-top: 96px;
    padding-bottom: 96px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-article {
    max-width: 264px;
  }

  .footer-wrap-logo {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-wrap-logo {
    margin-right: none;
    margin-left: none;
  } */
  /* ==================FOOTER SOC===================
  .footer-soc-title {
    text-align: left;
  }
  .footer-link-btn-wrap {
    display: flex;
    flex-direction: row;
  }
  .footer-cocontainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
} 
